<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Services or Technical about the Web Application at the
  <a href="https://support.cohota.com/servicedesk/customer/user/login?destination=portals">contact page</a>.
</p>
