<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
 For more information about the website, please access at the
  <a href="https://blog.cohota.com/">Blog page</a>.
  To get help on this web app for services or technical, see the
  <a href="https://support.cohota.com/servicedesk/customer/user/login?destination=portals"><em>Services Help page</em></a> for better support.
</p>
