<footer class="footer">
  <small>
    <a href="https://cohota.com/">The Education is a Key!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><a href="https://www.usnews.com/news/education-news">News</a></li>
    </ul>
  </nav>
</footer>
